<mat-card>
    <mat-card-content>
        <h2 >Enter the contact data</h2>
        <form action="">
        <mat-form-field class="fullWidth" appearance="outline">
            <mat-label > Enter name</mat-label>
            <input [(ngModel)]="contact.Name" type="text" name="name" placeholder="Name..." matInput>
        </mat-form-field>

        <mat-form-field  class="fullWidth" appearance="outline">
            <mat-label> Enter adress</mat-label>
            <input [(ngModel)]="contact.Adress" type="text" name="adress" placeholder="Adress..." matInput>
        </mat-form-field>

        <mat-form-field  class="fullWidth" appearance="outline">
            <mat-label> Enter phone</mat-label>
            <input [(ngModel)]="contact.Phone" type="number" name="phone" placeholder="Phone..." matInput>
        </mat-form-field>

        <mat-form-field  class="fullWidth" appearance="outline">
            <mat-label> Enter age</mat-label>
            <input [(ngModel)]="contact.Age" type="text" name="age" placeholder="Age..."  matInput min="1" max="200">
        </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions><button (click)="post()" mat-raised-button color="primary">Create</button></mat-card-actions>
</mat-card>