<div style=" flex: auto; width:auto;">
    <mat-card>
        <mat-card-content>
            <table border="2" >
                <th>№</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Age</th>
                <th>Properties</th>
                <tr *ngFor="let contact of contacts; let i=index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <span>{{contact.name}}</span>
                    </td>
                    <td>
                        <span>{{contact.adress}}</span>
                    </td>
                    <td>
                        <span>{{contact.phone}}</span>
                    </td>
                    <td>
                        <span>{{contact.age}}</span>
                    </td>
                    <td>
                        <button mat-raised-button color="primary" (click)="ApiSvc.selectContact(contact)">UPDATE</button>
                        <button mat-raised-button color="warn" (click)="ApiSvc.deleteContact(contact)">DELETE</button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>